/* Tailwind */

@import "tailwindcss";
@import "./../styles/animations.css";
@import "./../styles/components.css";
@import "./../styles/between-scroll.css";

/* Plugins */

@plugin "tailwindcss-animate";

/* ---- Basic Theme ---- */

:root {
    /* your variables */
    --theme: #5f0068;
    --color-theme: #5f0068;
    --glow-color: #5f0068;
    --div-shadow: 0px 0px 10px black, 0px 0px 150px black, 0px 0px 100px black, 0px 0px 300px black;
}


/* Dark variant system (simple, minimal) */

@custom-variant dark (&:is(.dark *));

/* Base styles */

@layer base {
    body {
        @apply bg-black text-gray-200 font-light;
    }
}


/* Utility: allow page to scroll normally */

html,
body {
    height: auto;
    overflow: auto;
}