/* Tailwind */

@import "tailwindcss";
@import "./../styles/animations.css";
@import "./../styles/components.css";
@import "./../styles/between-scroll.css";
@import "./../styles/shiny-btn.css";
@import "./../styles/shiny-border.css";
@import "./../styles/neon-btn.css";
@import "./../styles/cta.css";
@import "./../styles/social-media.css";
@import "./../styles/bubbles.css";
@import "./../styles/gradient-text.css";
@import "./../styles/tabs.css";

/* Plugins */

@plugin "tailwindcss-animate";

/* ---- Basic Theme ---- */

:root {
  /* your variables */
  --black: #010207;
  --white: #DDEEDF;
  --gray: #BFAFB2;
  --theme: #636c77;
  --bottom-div-shadow-1: 0px 0px 10px black, 0px 0px 30px black, 0px 0px 50px black, 0px 0px 100px black, 0px 0px 200px black, 0px 0px 300px black, 0px 0px 500px var(--theme-2);
  --theme-transparent: #636c77;
  --theme-2: #32174D;
  --theme-2-transparent: #32174D;
  --shadow-1: 0px 0px 20px var(--theme);
  --shadow-2: 0px 0px 20px var(--theme-2);
  --shadow-s-1: 0px 0px 50px var(--theme);
  --shadow-div: 5px 5px 20px black;
  --shadow-div-hover: 10px 20px 40px black;
  --div-shadow: 0px 0px 10px black, 0px 0px 30px black, 0px 0px 50px black, 0px 0px 100px black, 0px 0px 200px black, 0px 0px 300px black, 0px 0px 500px var(--theme-2);
  --contact-shadow: 0px 0px 10px var(--theme-2), 0px 0px 30px var(--theme-2), 0px 0px 50px var(--theme-2), 0px 0px 100px var(--theme-2), 0px 0px 200px var(--theme-2), 0px 0px 300px var(--theme-2), 0px 0px 500px var(--theme-2);
  --chaotic-shadow: 0px 0px 10px black, 0px 0px 30px black, 0px 0px 50px black, 0px 0px 100px var(--theme-2), 0px 0px 200px var(--theme-2), 0px 0px 300px var(--theme-2), 0px 0px 500px var(--theme-2);
  --shadow-black: 0px 0px 30px black;
  --subtle: rgba(255, 255, 255, 0.075);
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


/* Dark variant system (simple, minimal) */

@custom-variant dark (&:is(.dark *));

/* Base styles */

@layer base {
  body {
    @apply bg-(--black) text-(--white) font-light;
  }
}


/* Utility: allow page to scroll normally */

html,
body {
  height: auto;
  overflow: auto;
  font-family: "Outfit", Arial;
}

.square {
  transition: 3s all ease;
}

.link-container:hover .square {
  background-color: var(--theme);
  transition: 0.5s all ease;
}

.sending {
  background-color: blue;
}
