/* Main rotating container */

.cta-container {
    animation: rotate 4s linear infinite;
    display: flex;
    background-color: black;
    box-shadow: 0px 0px 50px var(--theme-2);
    justify-content: center;
    align-items: center;
    border: 1px solid var(--theme);
    transition: ease-in-out 1s all;
    cursor: pointer;
}

.cta-container:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.cta-container:hover .cta-content {
    transform: scale(1.1);
}

.cta-container:hover .cta-container-2 {
    background-color: black;
    border: 1px solid var(--theme-2);
    box-shadow: 0px 0px 50px var(--theme);
}

.cta-container-2 {
    animation: rotate-reverse 2s linear infinite;
    transition: ease-in-out 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
}

.cta-content {
    animation: rotate 4s linear infinite;
    pointer-events: none;
}


/* Clockwise rotation */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Counter-rotation for the text */

@keyframes rotate-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}