.gradient-text {
    font-weight: 100;
    text-transform: capitalize;
    background: linear-gradient(90deg, var(--theme), white, var(--theme-2));
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 10s ease-in-out infinite alternate;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}